
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<main>
    <h2>Customer Details</h2>
    <div class="row">
        @{
            foreach (CRM.Customer p in @Model)
            {
                <p>@p.FirstName    @p.LastName      @p.EmailId        @p.ContactNo</p>
            }
        }
    </div>
</main>


































































































































