@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{ 
            string company = "transflow";
        }
        
        <a href="/Product/Index">Product</a>
    </section>

    
</main>